body {
	background-color: rgb(245, 246, 248);
	
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main__header {
	margin-top: 0;
	margin-bottom: 20px;
}

.main__header h4 {
	font-size: 1.5em;
}

.main__header h6 {
	font-size: 0.8em;
}
.footer__ul {
	list-style: none;
}
.footer__ul li a {
	font-size: 0.8em;
	text-decoration: none;
	padding-left: 15px;
}
.form-message{
	margin-bottom: 0;
	font-size: 0.9rem; 
}